body {
    height: 1000px;
}

.headernav {
 text-align: center;
 font-weight: 800;
 font-family: helvetica;
 font-size: 12px;
}

.centered {
 text-align: center;
 font-style: normal;
}

#rotate {
    right: 25px;
    top: 250px;
    position: fixed;
    -ms-transform: rotate(90deg); /* IE 9 */
    -webkit-transform: rotate(90deg); /* Chrome, Safari, Opera */
    transform: rotate(90deg);
    
}

.float2 {
    float: left;
    width: 20%;
    height: 430px;
    border-style: solid;
}