body {
    height: 1000px;
}

.headernav {
 text-align: center;
 font-weight: 800;
 font-family: helvetica;
 font-size: 12px;
}

.centered {
 text-align: center;
 font-style: normal;
}


#rotate {
    right: 40px;
    top: 90px;
    position: fixed;
    -ms-transform: rotate(0deg); /* IE 9 */
    -webkit-transform: rotate(0deg); /* Chrome, Safari, Opera */
    transform: rotate(0deg);
    
}