@media screen and (max-width: 1024px) {


}



@media screen and (max-width: 768px) {

	
}



@media screen and (max-width: 600px) {
	
	
}



@media screen and (max-width: 480px) {

	
}


@media screen and (max-width: 320px) {

}

.arrow-up {
  width: 0; 
  height: 0; 
  border-left: 200px solid transparent;
  border-right: 200px solid transparent;
  
  border-bottom: 200px solid ##51dd4f;
}

.arrow-up1 {
  width: 0; 
  height: 0; 
  border-left: 200px solid transparent;
  border-right: 200px solid transparent;
  
  border-bottom: 200px solid ##6ddd4f;
}

.arrow-up2 {
  width: 0; 
  height: 0; 
  border-left: 200px solid transparent;
  border-right: 200px solid transparent;
  
  border-bottom: 200px solid #79dd4f;
}

.arrow-up3 {
  width: 0; 
  height: 0; 
  border-left: 200px solid transparent;
  border-right: 200px solid transparent;
  
  border-bottom: 200px solid #87dd4f;
}

.arrow-up4 {
  width: 0; 
  height: 0; 
  border-left: 200px solid transparent;
  border-right: 200px solid transparent;
  
  border-bottom: 200px solid #96dd4f;
}

.arrow-up5 {
  width: 0; 
  height: 0; 
  border-left: 200px solid transparent;
  border-right: 200px solid transparent;
  
  border-bottom: 200px solid #a8dd4f;
}

.arrow-up6 {
  width: 0; 
  height: 0; 
  border-left: 200px solid transparent;
  border-right: 200px solid transparent;
  
  border-bottom: 200px solid #c7dd4f;
}

.arrow-up7 {
  width: 0; 
  height: 0; 
  border-left: 200px solid transparent;
  border-right: 200px solid transparent;
  
  border-bottom: 200px solid #d8dd4f;
}

.arrow-up8 {
  width: 0; 
  height: 0; 
  border-left: 200px solid transparent;
  border-right: 200px solid transparent;
  
  border-bottom: 200px solid ##ddd14f;

}

.arrow-up9 {
  width: 0; 
  height: 0; 
  border-left: 200px solid transparent;
  border-right: 200px solid transparent;
  
  border-bottom: 200px solid #4fdd72;
}

.arrow-up10 {
  width: 0; 
  height: 0; 
  border-left: 200px solid transparent;
  border-right: 200px solid transparent;
  
  border-bottom: 200px solid ##48ce69;
}

.arrow-up11 {
  width: 0; 
  height: 0; 
  border-left: 200px solid transparent;
  border-right: 200px solid transparent;
  
  border-bottom: 200px solid #46c966;
}

.arrow-up12 {
  width: 0; 
  height: 0; 
  border-left: 200px solid transparent;
  border-right: 200px solid transparent;
  
  border-bottom: 200px solid #44c463;
}

.arrow-up13 {
  width: 0; 
  height: 0; 
  border-left: 200px solid transparent;
  border-right: 200px solid transparent;
  
  border-bottom: 200px solid #40b75d;
}

.arrow-up14 {
  width: 0; 
  height: 0; 
  border-left: 200px solid transparent;
  border-right: 200px solid transparent;
  
  border-bottom: 200px solid #3eb25a;
}

.arrow-up15 {
  width: 0; 
  height: 0; 
  border-left: 200px solid transparent;
  border-right: 200px solid transparent;
  
  border-bottom: 200px solid #3baa55;
}

.arrow-up16 {
  width: 0; 
  height: 0; 
  border-left: 200px solid transparent;
  border-right: 200px solid transparent;
  
  border-bottom: 200px solid #38a551;
}

.arrow-up17 {
  width: 0; 
  height: 0; 
  border-left: 200px solid transparent;
  border-right: 200px solid transparent;
  
  border-bottom: 200px solid #35a04d;

}

.arrow-up18 {
  width: 0; 
  height: 0; 
  border-left: 200px solid transparent;
  border-right: 200px solid transparent;
  
  border-bottom: 200px solid #339b49;
}

.arrow-up19 {
  width: 0; 
  height: 0; 
  border-left: 200px solid transparent;
  border-right: 200px solid transparent;
  
  border-bottom: 200px solid #319646;
}

.arrow-up20 {
  width: 0; 
  height: 0; 
  border-left: 200px solid transparent;
  border-right: 200px solid transparent;
  
  border-bottom: 200px solid #29873d;
}

.arrow-up21 {
  width: 0; 
  height: 0; 
  border-left: 200px solid transparent;
  border-right: 200px solid transparent;
  
  border-bottom: 200px solid #227734;
}

.arrow-up22 {
  width: 0; 
  height: 0; 
  border-left: 200px solid transparent;
  border-right: 200px solid transparent;
  
  border-bottom: 200px solid #1e6d2f;
}

.arrow-up23 {
  width: 0; 
  height: 0; 
  border-left: 200px solid transparent;
  border-right: 200px solid transparent;
  
  border-bottom: 200px solid #1d6d2e;
}

.arrow-up24 {
  width: 0; 
  height: 0; 
  border-left: 200px solid transparent;
  border-right: 200px solid transparent;
  
  border-bottom: 200px solid #1a662a;
}

.arrow-up25 {
  width: 0; 
  height: 0; 
  border-left: 200px solid transparent;
  border-right: 200px solid transparent;
  
  border-bottom: 200px solid #165924;
}

.arrow-up26 {
  width: 0; 
  height: 0; 
  border-left: 200px solid transparent;
  border-right: 200px solid transparent;
  
  border-bottom: 200px solid #0f441a;

}

.arrow-up27 {
  width: 0; 
  height: 0; 
  border-left: 200px solid transparent;
  border-right: 200px solid transparent;
  
  border-bottom: 200px solid #0c3815;
}

.arrow-up28 {
  width: 0; 
  height: 0; 
  border-left: 200px solid transparent;
  border-right: 200px solid transparent;
  
  border-bottom: 200px solid #092d11;
}

.arrow-up29 {
  width: 0; 
  height: 0; 
  border-left: 200px solid transparent;
  border-right: 200px solid transparent;
  
  border-bottom: 200px solid #07230d;
}

.arrow-up30 {
  width: 0; 
  height: 0; 
  border-left: 200px solid transparent;
  border-right: 200px solid transparent;
  
  border-bottom: 200px solid #06210c;
}


.gift1 {
    width: 200px;
    height: 200px;
    position: absolute;
    display: block;
    top: 20%;
    margin-top: -130px;
    left: 50%;
    margin-left: -100px;
    background-color: #ddb74f;
    font-size: 36px;
        color: white;

	-webkit-transform: rotate(0deg);
	-webkit-transition: all 500ms ease-in-out;

	padding: 30px;
    margin: 0px;
}

.gift2 {
    width: 200px;
    height: 200px;
    position: absolute;
    display: block;
    top: 40%;
    margin-top: -130px;
    left: 75%;
    margin-left: -100px;
    background-color: #dd914f;
    font-size: 36px;
        color: white;

	-webkit-transform: rotate(0deg);
	-webkit-transition: all 500ms ease-in-out;

	padding: 30px;
    margin: 0px;
}

.gift3 {
    width: 200px;
    height: 200px;
    position: absolute;
    display: block;
    top: 70%;
    margin-top: -130px;
    left: 40%;
    margin-left: -100px;
    background-color: #dd644f;
    font-size: 36px;
        color: white;

	-webkit-transform: rotate(0deg);
	-webkit-transition: all 500ms ease-in-out;

	padding: 30px;
    margin: 0px;
}


.gift4 {
    width: 200px;
    height: 200px;
    position: absolute;
    display: block;
    top: 90%;
    margin-top: -130px;
    left: 65%;
    margin-left: -100px;
    background-color: #dd4f5d;
    font-size: 36px;
        color: white;

	-webkit-transform: rotate(0deg);
	-webkit-transition: all 500ms ease-in-out;

	padding: 30px;
    margin: 0px;
}

.dates {
    width: 0px;
    height: 0px;
    position: absolute;
    top: 1%;
    margin-top: 10px;
    left: 95%;
    margin-left: 5px;
    font-size: 32px;
    color: black;
    font-weight: 400;
        left: 80%;
        width: 250px;
        text-align: right;
}

.intro {
    position: absolute;
    top: 1%;
    margin-top: 10px;
    font-size: 14px;
    color: black;
    font-weight: 400;
        width: 300px;
        margin-top: 80px;
}

.canvas {
    width: 100%;
    height: 100%;
        }

.animate {            
    background-color: #4f51dd;
    border-radius: 100%;
    border-width: 10px;
    height: 70px;
    width: 5%;
    transition: all 1s ease-in-out;
    -webkit-transition: all 1s ease-in-out;
    -moz-transition: all 1s ease-in-out;
    -ms-transition: all 1s ease-in-out;
    -o-transition: all 1s ease-in-out;    
    float: left;
    top: 10px;
    position: relative;
        }

.animate:hover {  
    top: 1000px;  
}

.mouse {
    color: black;
}

.mouse:hover {
    color: black;
    cursor: url('../img/clicker.png'), auto;

}