
body
{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: auto;
	font-family: helvetica, arial sans-serif;
	font-style: bold uppercase;
	margin: 0px;
	padding: 10px;
	z-index: 99;
	background-color: #95afbf;
    font-size: 15vw; line-height: 99%;

}



	#one {
		display: block;
	}

	#two {
		display: none;
	}

	#three {
		display: none;
	}

	#four {
		display: none;
	}

	#five {
		display: none;
	}

	#six {
		display: none;
	}

	#seven {
		display: none;
	}

	#eight {
		display: none;
	}

	#nine {
		display: none;
	}








@media screen and (max-width: 1250px) {

	body{
	background-color: #b1cfe2;
}


	
	#one {
		display: none;
	}

	#two {
		display: block;
	}

	#three {
		display: none;
	}

	#four {
		display: none;
	}

	#five {
		display: none;
	}

	#six {
		display: none;
	}

	#seven {
		display: none;
	}

	#eight {
		display: none;
	}

	#nine {
		display: none;
	}

}



@media screen and (max-width: 1150px) {

	body{
	background-color: #c5e4f7;
	}


	#one {
		display: none;

	}

	#two {
		display: none;
	}

	#three {
		display: block;
	}


	#four {
		display: none;
	}

	#five {
		display: none;
	}

	#six {
		display: none;
	}

	#seven {
		display: none;
	}

	#eight {
		display: none;
	}

	#nine {
		display: none;
	}
	
}



@media screen and (max-width: 950px) {

	body{
	background-color: #d6efff;
	}

	

	#one {
		display: none;

	}

	#two {
		display: none;
	}

	#three {
		display: none;
	}


	#four {
		display: block;

	}
	#five {
		display: none;
	}

	#six {
		display: none;
	}

	#seven {
		display: none;
	}

	#eight {
		display: none;
	}

	#nine {
		display: none;
	}

	
}



@media screen and (max-width: 850px) {

	body{
	background-color: #c7deed;
	}

	

	#one {
		display: none;
	}

	#two {
		display: none;
	}

	#three {
		display: none;
	}

	#four {
		display: none;

	}
	#five {
		display: block;
	}

	#six {
		display: none;
	}

	#seven {
		display: none;
	}

	#eight {
		display: none;
	}

	#nine {
		display: none;
	}

	
}


@media screen and (max-width: 750px) {

	body{
	background-color: #758189;
	}

	
	#one {
		display: none;

	}

	#two {
		display: none;
	}

	#three {
		display: none;
	}

	#four {
		display:none;

	}
	#five {
		display: none;
	}

	#six {
		display: block;
	}

	#seven {
		display: none;
	}

	#eight {
		display: none;
	}

	#nine {
		display: none;
	}

	
}



@media screen and (max-width: 650px) {

	body{
	background-color: #000000;
	color: #fdffe8;
	}


	#one {
		display: none;

	}

	#two {
		display: none;
	}

	#three {
		display: none;
	}

	#four {
		display:none;

	}
	#five {
		display: none;
	}

	#six {
		display: none;
	}

	#seven {
		display: block;
	}

	#eight {
		display: none;
	}

	#nine {
		display: none;
	}

	
}


@media screen and (max-width: 550px) {

	body{
	background-color: #232628;
	color: black;
	}

	

	#one {
		display: none;
	}

	#two {
		display: none;
	}

	#three {
		display: none;
	}

	#four {
		display:none;

	}
	#five {
		display: none;
	}

	#six {
		display: none;
	}

	#seven {
		display: none;
	}

	#eight {
		display: block;
	}

	#nine {
		display: none;
	}

	
}

@media screen and (max-width: 400px) {

	body{
	background-color: #95afbf;
	color: black;
	}


	#one {
		display: none;
	}

	#two {
		display: none;
	}

	#three {
		display: none;
	}

	#four {
		display:none;

	}
	#five {
		display: none;
	}

	#six {
		display: none;
	}

	#seven {
		display: none;
	}

	#eight {
		display: none;
	}

	#nine {
		display: block;
	}

	
}