 #box1 {
        width: 100px;
        height: 100px;
        background-color: black;
        position: fixed;
        left: 50%;
        top: 50%;
        -ms-transform: rotate(7deg); /* IE 9 */
    -webkit-transform: rotate(7deg); /* Chrome, Safari, Opera */
    transform: rotate(45deg);
    }  
    
